.*.evilmarkers
.aider*

venv
__pycache__
*.pyc
flycheck_*

*.session
*.session.orig
*.session.bak
*.session-journal
data/
**/dls/
.idea
.vscode
session_jlib.session
Lightnovels
plots
aeirya_plugins/
.claude/settings.local.json
