telethon
aiohttp[speedups]
cryptg
hachoir
Pillow
python-socks[asyncio]
brish
youtube-dl
nest_asyncio
ipython
aioify==0.1.3
instantmusic
eyed3
regex
wget
PySocks
cachetools
cfscrape
jsonpickle
peewee
fuzzywuzzy[speedup]
rapidfuzz
fuzzyset
